@model IEnumerable<ConsoleAppProject.App03.Student>
@{
    ViewData["Title"] = "Statistics";
}

<div class="jumbotron">
    <div class="row">
        <h1 class="text-center">Statistics and Analysis</h1>
    </div>
    <br />
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <p style="margin-left:5%; margin-right: 5%;">
                Here you can see some statistics using the data we colected. <br />

            </p>
        </div>
        <div class="col-sm-6">

        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            @{ 
                <h4>The amount of students @Model.Count()</h4>
            }
        </div>
        <div class="col-sm-6 col-md-4">
            @{ 
                int totalMarks = 0;
                foreach (var item in Model)
                {
                    totalMarks += item.Mark;
                }
                totalMarks = totalMarks / Model.Count();

                <h4> Average mark is @totalMarks</h4>
            }
        </div>
        <div class="col-sm-6 col-md-4">

        </div>
        
    </div>

</div>
